In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

Create the following dataset using dictionary:

![image.png](attachment:0a10b154-1be7-420c-a23d-084cbc59a9f8.png)

In [ ]:
spare_parts_data = {
    'part_number': ['10001', '10002', '10003', '10004', '10005', '10006', '10007', '10008', '10009', '10010'],
    'part_name': ['Air filter', 'Oil filter', 'Spark plug', 'Brake pads', 'Clutch kit', 'Fuel pump', 'Water pump', 'Timing belt', 'Suspension kit', 'Exhaust system'],
    'compatible_models': [['Toyota Camry', 'Honda Accord'], ['Ford F-150', 'Chevrolet Silverado'], ['Nissan Altima', 'Honda Civic'], ['Toyota Corolla'], ['Subaru Impreza', 'Mitsubishi Lancer'], ['Honda CR-V', 'Jeep Grand Cherokee'], ['Ford Mustang'], ['Audi A4', 'Volkswagen Jetta'], ['BMW 3 Series'], ['Chevrolet Corvette', 'Dodge Challenger']],
    'manufacturer': ['ACDelco', 'Bosch', 'Denso', 'EBC Brakes', 'Valeo', 'Bosch', 'Gates', 'Continental', 'KYB', 'Magnaflow']
}

spare_parts_df = pd.DataFrame(spare_parts_data)

print(spare_parts_df)

  part_number       part_name                       compatible_models  \
0       10001      Air filter            [Toyota Camry, Honda Accord]
1       10002      Oil filter       [Ford F-150, Chevrolet Silverado]
2       10003      Spark plug            [Nissan Altima, Honda Civic]
3       10004      Brake pads                        [Toyota Corolla]
4       10005      Clutch kit     [Subaru Impreza, Mitsubishi Lancer]
5       10006       Fuel pump       [Honda CR-V, Jeep Grand Cherokee]
6       10007      Water pump                          [Ford Mustang]
7       10008     Timing belt             [Audi A4, Volkswagen Jetta]
8       10009  Suspension kit                          [BMW 3 Series]
9       10010  Exhaust system  [Chevrolet Corvette, Dodge Challenger]

  manufacturer
0      ACDelco
1        Bosch
2        Denso
3   EBC Brakes
4        Valeo
5        Bosch
6        Gates
7  Continental
8          KYB
9    Magnaflow

Create the following dataset line by line:
![image.png](attachment:4cf0cd46-3af1-460d-851c-8026bc2ae384.png)

In [ ]:
import pandas as pd

data = []

# Add the header row
header = ['Reference', 'Description', 'Price', 'Vehicle Type']

# Add the data rows
data.append(['SP1001', 'Brake pads', 25.99, 'Car'])
data.append(['SP1002', 'Oil filter', 12.49, 'Truck'])
data.append(['SP1003', 'Windshield wipers', 9.99, 'Car'])
data.append(['SP1004', 'Air filter', 15.99, 'Motorcycle'])
data.append(['SP1005', 'Tire pressure gauge', 7.99, 'Car'])
data.append(['SP1006', 'Fuel pump', 89.99, 'Truck'])
data.append(['SP1007', 'Spark plugs', 6.99, 'Motorcycle'])
data.append(['SP1008', 'Transmission fluid', 14.99, 'Car'])
data.append(['SP1009', 'Brake fluid', 11.99, 'Truck'])
data.append(['SP1010', 'Chain lube', 8.99, 'Motorcycle'])

# Create the dataframe
df = pd.DataFrame(data, columns=header)

# Print the dataframe
print(df)

  Reference          Description  Price Vehicle Type
0    SP1001           Brake pads  25.99          Car
1    SP1002           Oil filter  12.49        Truck
2    SP1003    Windshield wipers   9.99          Car
3    SP1004           Air filter  15.99   Motorcycle
4    SP1005  Tire pressure gauge   7.99          Car
5    SP1006            Fuel pump  89.99        Truck
6    SP1007          Spark plugs   6.99   Motorcycle
7    SP1008   Transmission fluid  14.99          Car
8    SP1009          Brake fluid  11.99        Truck
9    SP1010           Chain lube   8.99   Motorcycle

This code creates a list called data and then adds each row of the dataset as a list to that data list. Then, it creates a Pandas DataFrame from the data list using the column names in the first row.

Random inputs:
Create a DataFrame that represents a set of customer orders. The first column should represent the number of items ordered, and the second column should represent the total cost of the order in dollars. The number of items should be represented as random integers between 1 and 10, and the total cost should be represented as random floats between 10.0 and 100.0.

Hint: use numpy.random

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
print(np.random.randint(1,10,5))
print(np.random.uniform(10, 100, 5))

[6 3 8 6 6]
[91.99613683 72.17368354 67.00338627 83.28912516 51.87503433]

search for the dataset named, "High-Tech Companies on NASDAQ" upload it, and then open it using read_csv.

hint :  use Kaggle for searching

In [ ]:
df = pd.read_csv("/content/2022_03_17_02_06_nasdaq.csv")

TypeError: ignored

In [ ]:
df.head()

,Unnamed: 0,symbol,name,price,pricing_changes,pricing_percentage_changes,sector,industry,market_cap,share_volume,earnings_per_share,annualized_dividend,dividend_pay_date,symbol_yield,beta,errors
0,0,AAPL,Apple Inc. Common Stock,157.510,+2.42,(+1.56%),Technology,Computer Manufacturing,"2,699,423,838,000","63,429,579",$6.04,$0.88,"Feb 10, 2022",0.58%,1.18,False
1,1,MSFT,Microsoft Corporation Common Stock,289.560,+2.41,(+0.84%),Technology,Computer Software: Prepackaged Software,"2,143,429,080,429","22,790,662",$9.39,$2.48,"Jun 9, 2022",0.9%,0.91,False
2,2,GOOG,Alphabet Inc. Class C Capital Stock,2639.755,+46.545,(+1.79%),Technology,Internet and Information Services,"1,724,718,735,878","900,760",$112.23,NaN,NaN,NaN,1.06,False
3,3,GOOGL,Alphabet Inc. Class A Common Stock,2629.010,+45.05,(+1.74%),Technology,Internet and Information Services,"1,718,961,675,672","1,008,687",$112.23,NaN,NaN,NaN,1.06,False
4,4,AMZN,"Amazon.com, Inc. Common Stock",3009.070,+61.74,(+2.09%),Consumer Services,Catalog/Specialty Distribution,"1,511,267,897,700","2,623,915",$64.78,NaN,NaN,NaN,1.11,False

In [ ]:
df.tail()

,Unnamed: 0,symbol,name,price,pricing_changes,pricing_percentage_changes,sector,industry,market_cap,share_volume,earnings_per_share,annualized_dividend,dividend_pay_date,symbol_yield,beta,errors
8334,8382,ZNTEW,Zanite Acquisition Corp. Warrant,0.53,-0.105,(-16.54%),NaN,NaN,NaN,"96,553",NaN,NaN,NaN,NaN,0.1,False
8335,8383,ZTAQU,Zimmer Energy Transition Acquisition Corp. Units,9.94,Unchanged,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.09,False
8336,8384,ZTAQW,Zimmer Energy Transition Acquisition Corp. War...,0.42,Unchanged,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.42,False
8337,8385,ZWRKU,Z-Work Acquisition Corp. Units,9.85,-0.005,(-0.05%),NaN,NaN,NaN,111,NaN,NaN,NaN,NaN,-0.07,False
8338,8386,ZWRKW,Z-Work Acquisition Corp. Warrant,0.24,-0.005,(-2.04%),NaN,NaN,NaN,"27,027",NaN,NaN,NaN,NaN,1.5,False

In [ ]:
df.columns

Index(['Unnamed: 0', 'symbol', 'name', 'price', 'pricing_changes',
       'pricing_percentage_changes', 'sector', 'industry', 'market_cap',
       'share_volume', 'earnings_per_share', 'annualized_dividend',
       'dividend_pay_date', 'symbol_yield', 'beta', 'errors'],
      dtype='object')

In [ ]:
df.shape

(8339, 16)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8339 entries, 0 to 8338
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  8339 non-null   int64
 1   symbol                      8339 non-null   object
 2   name                        8339 non-null   object
 3   price                       8339 non-null   float64
 4   pricing_changes             8339 non-null   object
 5   pricing_percentage_changes  5990 non-null   object
 6   sector                      6138 non-null   object
 7   industry                    6156 non-null   object
 8   market_cap                  6824 non-null   object
 9   share_volume                7853 non-null   object
 10  earnings_per_share          2921 non-null   object
 11  annualized_dividend         2198 non-null   object
 12  dividend_pay_date           2262 non-null   object
 13  symbol_yield                3783 non-null   object
 14  beta                        6098 non-null   object
 15  errors                      8339 non-null   bool
dtypes: bool(1), float64(1), int64(1), object(13)
memory usage: 985.5+ KB