In [1]:
import pandas as pd
import numpy as np

Consider the following DataFrame

In [2]:
df = pd.DataFrame({
    "Name": ["John", "Jane", "Jim", "Jessica", "Jack", "Jill", "Joe", "Jordan", "Julia", "James", "Johnnie", "Jenna", "Jasmine", "Jerry", "Joel", "Jade", "Janet", "Joanna", "Jackie"],
    "Age": [32, 28, 41, 38, 23, 27, 30, 26, 35, 40, 28, 29, 31, 33, 36, 27, 32, 31, 25],
    "Country": ["USA", "Canada", "UK", "France", "Germany", "Australia", "USA", "Canada", "UK", "France", "Germany", "Australia", "USA", "Canada", "UK", "France", "Germany", "Australia", "USA"],
    "Gender": ["Male", "Female", "Male", "Female", "Male", "Female", "Male", "Female", "Male", "Female", "Male", "Female", "Male", "Female", "Male", "Female", "Male", "Female", "Male"],
    "Occupation": ["Engineer", "Doctor", "Teacher", "Lawyer", "Student", "Artist", "Engineer", "Doctor", "Teacher", "Lawyer", "Student", "Artist", "Engineer", "Doctor", "Teacher", "Lawyer", "Student", "Artist", "Engineer"]
})
print(df)

       Name  Age    Country  Gender Occupation
0      John   32        USA    Male   Engineer
1      Jane   28     Canada  Female     Doctor
2       Jim   41         UK    Male    Teacher
3   Jessica   38     France  Female     Lawyer
4      Jack   23    Germany    Male    Student
5      Jill   27  Australia  Female     Artist
6       Joe   30        USA    Male   Engineer
7    Jordan   26     Canada  Female     Doctor
8     Julia   35         UK    Male    Teacher
9     James   40     France  Female     Lawyer
10  Johnnie   28    Germany    Male    Student
11    Jenna   29  Australia  Female     Artist
12  Jasmine   31        USA    Male   Engineer
13    Jerry   33     Canada  Female     Doctor
14     Joel   36         UK    Male    Teacher
15     Jade   27     France  Female     Lawyer
16    Janet   32    Germany    Male    Student
17   Joanna   31  Australia  Female     Artist
18   Jackie   25        USA    Male   Engineer

**Some data exploration :**

when dealing with large dataset (much more larger than this one), it is usefull to get a brand idea on how the data is, by showing the first 5 (df.head()) or 10 rows (df.head(10))

In [3]:
# default value to show is 5
print(df.head())

      Name  Age  Country  Gender Occupation
0     John   32      USA    Male   Engineer
1     Jane   28   Canada  Female     Doctor
2      Jim   41       UK    Male    Teacher
3  Jessica   38   France  Female     Lawyer
4     Jack   23  Germany    Male    Student

Similar to the head method, the tail method is used to display rows starting from the last one

In [4]:
print(df.tail(5))

      Name  Age    Country  Gender Occupation
14    Joel   36         UK    Male    Teacher
15    Jade   27     France  Female     Lawyer
16   Janet   32    Germany    Male    Student
17  Joanna   31  Australia  Female     Artist
18  Jackie   25        USA    Male   Engineer

The describe method gives us statistics on columns with numerical values

In [5]:
print(df.describe())

             Age
count  19.000000
mean   31.157895
std     5.036127
min    23.000000
25%    27.500000
50%    31.000000
75%    34.000000
max    41.000000

The value_counts method returns the frequency of each unique value in a Pandas series. This method is useful when you want to understand the distribution of the data.

We use shape in order to get the number of columns and rows

In [6]:
print(df.shape)

(19, 5)

Our data set contains 19 rows and 5 columns

The info() method in a Pandas DataFrame is useful for getting a summary of the data. It provides information about:


* the number of entries in each column, 
* the data type of each column, 
* the number of non-null values, 
* and the memory usage of the DataFrame. 

This information can be useful in understanding the structure of the data and identifying potential issues, such as missing values, inconsistent data types, or large memory usage. 

With the info() method, you can quickly get a high-level view of the DataFrame without having to manually inspect each column individually.

**NOTE: df.info() is different from df.info, without the '()'**

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        19 non-null     object
 1   Age         19 non-null     int64
 2   Country     19 non-null     object
 3   Gender      19 non-null     object
 4   Occupation  19 non-null     object
dtypes: int64(1), object(4)
memory usage: 888.0+ bytes

As we can notice we do not have any missing values in our data set: we know that because we already know that we have 19 rows, and as the info() method shows us, in every column we have 19 non-null values

**Questions:**

Use the loc method to access the 'Age' column for 'Jessica'

Use the loc method to access the record for 'Jane'

Use the loc method to access the records for all individuals whose Age is greater than or equal to 30

Use the loc method to access the records for all females

Use the iloc method to access the records for all individuals whose Country is 'Canada' or 'France'

same previous question, but  show only the first and last columns

Use the loc method to access the 'Name' and 'Age' columns for all individuals whose Country is not 'USA'

Use the iloc method to access the last two columns for all individuals whose Age is between 30 and 32 (inclusive).

Use the loc method to access the 'Occupation' column for people who are older than 30 and are from the USA

Use the iloc method to access the 'Gender' column for the last three records